h1 {
	color: blue;
}

li {
	background-color: black;
	color: grey;
}

body {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ol {
  text-align: left;
  padding-left: 30%;
  padding-right: 30%;
}